body{
	text-align: center;
	font-family: sans-serif;
	background-color: #eef1ff;
}

h1{
	font-size: 45px;
}

.box{
	width: 70%;
	margin-top: 50px;
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paragraph{
	text-align: center;
	font-family: arial;
}