body {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.text {
	font-family: "Roboto Slab", serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.cell.taken {
  pointer-events: none;
  color: #555;
}

.status {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

#reset {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset:hover {
  background-color: #0056b3;
}
