a {text-decoration: none;}

body {
	font-family: 'Comfortaa', sans-serif;
}

table{
	border-color: cyan;
}

.answer{
	border-color: grey;
	width: 400px;
	height: 110px;
	background-color: white;
	font-family: 'Comfortaa', sans-serif;
}

h3{
	color: purple;
}
