a {text-decoration: none;}

.ajs-title{
	font-family: times new roman;
	font-size: 64px;
}

table{
	border-color: cyan;
}

.answer{
	border-color: grey;
	width: 400px;
	height: 110px;
	background-color: white;
}

h3{
	color: purple;
}
